<footer class="Footer">
  <div class="Footer__Item">
    <h2>{{ .Site.Title }}</h2>
    <p>{{ .Site.Params.Desc }}</p>
    <a href="https://twitter.com/volyx" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @volyx</a>
  </div>
  <div class="Footer__Item">
    <h2>Подписка</h2>
    <ul>
      <li><a href="{{ .Site.Params.itunes }}" target="_blank">Apple Podcasts</a></li>
      <li><a href="{{ .Site.Params.android }}" target="_blank">Youtube Music</a></li>
      <li><a href="{{ .Site.Params.yandex }}" target="_blank">Яндекс Музыка</a></li>
      <li><a href="{{ .Site.Params.feed }}" target="_blank">RSS</a></li>
    </ul>
  </div>
</footer>
